@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap");
$dark-Gray: hsl(0, 0%, 63%);
$veryDarkGray: hsl(0, 0%, 27%);

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Spartan", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

#section-one {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-height: 534px;
}

.display-image-container {
  position: relative;
  max-width: 100%;
}

.scroll-arrows-mobile {
  position: absolute;
  display: none;
  bottom: 5px;
  right: 0;

  span {
    margin: 0;
    padding: 14px 24px;
    background: black;
  }
}

#header-navigation {
  position: absolute;
  top: 50px;
  left: 50px;
  color: white;
  display: inline-flex;
  align-items: center;
  z-index: 1;

  .links {
    cursor: pointer;
    position: relative;
    top: 3px;
    display: inline-flex;
    width: 400px;
    justify-content: space-evenly;
    list-style-type: none;

    li {
      &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 40%;
        border-bottom: 2px solid white;
        padding-top: 10px;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
}

#header-navigation-mobile {
  display: none;
  z-index: 1;
}

.call-to-action {
  position: relative;
  display: block;
  padding: 75px 90px;

  h1 {
    color: black;
    font-size: 32px;
  }

  p {
    color: $dark-Gray;
    font-size: 12px;
    line-height: 20px;
  }

  .button {
    cursor: pointer;
    margin-top: 40px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 7px;

    &:hover {
      opacity: 0.7;
    }
  }

  .scroll-arrows {
    position: absolute;
    display: inline-flex;
    bottom: 5px;
    left: 0;

    span {
      margin: 0;
      padding: 18px 33px;
      background: black;

      &:hover {
        background: $veryDarkGray;
      }
    }
  }
}

#section-two {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.about-text {
  padding: 60px 35px;

  h4 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 14px;
  }

  p {
    color: $veryDarkGray;
    font-size: 12px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 375px) {
  #header-navigation {
    display: none;
  }

  .display-image {
    max-width: 100%;
  }

  #section-one {
    display: flex;
    flex-direction: column;
  }

  #header-navigation-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 30px;
    width: 100%;
    background: none;

    #menu {
      position: relative;
      left: 30px;
      width: 16px;
      height: 14px;
      background-image: url(images/icon-hamburger.svg);
      background-repeat: no-repeat;
    }

    .logo-header {
      display: block;
      position: relative;
      top: 3px;
      left: 150px;
    }

    .links {
      display: none;
      width: 300px;
      justify-content: space-evenly;
      list-style-type: none;
    }
  }

  .scroll-arrows-mobile {
    display: inline-flex;
  }

  .call-to-action {
    display: block;
    padding: 10px 30px;

    h1 {
      color: black;
      font-size: 24px;
    }

    p {
      color: $dark-Gray;
      font-size: 12px;
      line-height: 20px;
    }

    .button {
      cursor: pointer;
      margin-top: 20px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 7px;
    }
  }

  #section-two {
    display: flex;
    flex-direction: column;
  }

  .about-image-dark,
  .about-image-light {
    max-width: inherit;
  }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
  #header-navigation {
    display: none;
  }

  .display-image {
    max-width: 100%;
  }

  #section-one {
    display: flex;
    flex-direction: column;
  }

  #header-navigation-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 30px;
    width: 100%;
    background: none;

    #menu {
      position: relative;
      left: 30px;
      width: 16px;
      height: 14px;
      background-image: url(images/icon-hamburger.svg);
      background-repeat: no-repeat;
    }

    .logo-header {
      display: block;
      position: relative;
      top: 3px;
      left: 200px;
    }

    .links {
      display: none;
      width: 300px;
      justify-content: space-evenly;
      list-style-type: none;
    }
  }

  .scroll-arrows-mobile {
    display: inline-flex;
    bottom: 5px;
    right: 0;
  }

  .call-to-action {
    display: block;
    padding: 5px 30px;

    h1 {
      color: black;
      font-size: 24px;
    }

    p {
      color: $dark-Gray;
      font-size: 12px;
      line-height: 20px;
    }

    .button {
      cursor: pointer;
      margin-top: 10px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 7px;
    }
  }

  #section-two {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .about-image-dark,
  .about-image-light {
    max-width: inherit;
  }
}

@media only screen and (min-width: 426px) and (max-width: 950px) {
  #header-navigation {
    display: none;
  }

  .display-image {
    max-width: 100%;
  }

  #section-one {
    display: flex;
    flex-direction: column;
  }

  #header-navigation-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 30px;
    width: 100%;
    background: none;

    #menu {
      position: relative;
      left: 30px;
      width: 16px;
      height: 14px;
      background-image: url(images/icon-hamburger.svg);
      background-repeat: no-repeat;
    }

    .logo-header {
      display: block;
      position: relative;
      top: 3px;
      left: 350px;
    }

    .links {
      display: none;
      width: 400px;
      justify-content: space-evenly;
      list-style-type: none;
    }
  }

  .scroll-arrows-mobile {
    display: inline-flex;
    bottom: 5px;
    right: 0;
  }

  .call-to-action {
    display: block;
    padding: 5px 30px;

    h1 {
      color: black;
      font-size: 24px;
    }

    p {
      color: $dark-Gray;
      font-size: 12px;
      line-height: 20px;
    }

    .button {
      cursor: pointer;
      margin-top: 10px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 7px;
    }
  }

  #section-two {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }

  .about-image-dark,
  .about-image-light {
    max-width: inherit;
  }
}

@media only screen and (min-width: 951px) and (max-width: 1366px) {
  #section-one {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    max-height: 534px;
  }

  .call-to-action {
    position: relative;
    display: block;
    padding: 75px 90px;
  
    h1 {
      color: black;
      font-size: 28px;
    }
  
    p {
      color: $dark-Gray;
      font-size: 12px;
      line-height: 20px;
    }
  
    .button {
      cursor: pointer;
      margin-top: 40px;
      color: black;
      text-transform: uppercase;
      letter-spacing: 7px;
  
      &:hover {
        opacity: 0.7;
      }
    }
  
    .scroll-arrows {
      position: absolute;
      display: inline-flex;
      bottom: 5px;
      left: 0;
  
      span {
        margin: 0;
        padding: 8px 10.5px;
        background: black;
  
        &:hover {
          background: $veryDarkGray;
        }
      }
    }
  }

}

@media only screen and (max-width: 768px) {
  .call-to-action {
    .scroll-arrows {
      display: none;
    }
  }
}
